body {
	background: url("../image/mainbg.jpg");
	margin: 0px;
	padding: 0px;
	font-family: Hind,Tahoma,sans-serif;
	width: 100%;
	height: 100%;
}

/*statick element*/
.btn {
	text-decoration: none;
	text-align: center;
	color: white;
	background: black;
	padding: 10px 25px;
	font-size: 24px;
	transition: 0.5s all;
	cursor: pointer;
}

.btn:hover {
	background: #35c0c7;
}

/**/
header {
	background: #f5f5f5;
	border-bottom: 2px solid black;
}

header .headerContainer {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer {
		flex-direction: column;
		align-items: center;
	}
}

header .headerContainer .logo {
	width: 125px;
	height: 150px;
}

header .headerContainer .wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer .wraper {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

header .headerContainer .wraper .logo2 {
	width: 200px;
	height: 55px;
}

header .headerContainer .wraper .line {
	border-bottom: 1px solid black;
	height: 1px;
	max-width: 365px;
	width: 100%;
	margin-top: 20px;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer .wraper .line {
		display: none;
	}
}

header .headerContainer .wraper .menu .bayan {
	display: none;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer .wraper .menu .bayan {
		display: flex;
		flex-direction: column;
		margin: auto;
		align-items: center;
		max-width: 120px;
		background: #2c4047;
		padding: 5px 15px 15px 15px;
	}
}

header .headerContainer .wraper .menu .bayan .lines {
	width: 100%;
	padding: 10px;
	background: #d0cace;
	margin-top: 10px;
}

header .headerContainer .wraper .menu a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	font-size: 22px;
	margin-left: 10px;
	border-bottom: 1px solid transparent;
	transition: all 1s;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer .wraper .menu a {
		display: flex;
		justify-content: center;
		width: 100%;
		display: none;
	}
}

header .headerContainer .wraper .menu a:hover {
	border-bottom: 1px solid black;
}

header .headerContainer .wraper .menu .show {
	display: block;
	margin-left: 0px;
	text-align: center;
}

header .headerContainer .logOut {
	position: absolute;
	right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	header .headerContainer .logOut {
		top: 10px;
		right: 10px;
	}
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

main {
	border-top: 2px solid black;
}

main .container {
	max-width: 68em;
	margin: auto;
	padding: 10px;
	padding-top: 25px;
}

main .container .header {
	text-align: center;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
}

main .container .games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	main .container .games {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

main .container .games .item {
	position: relative;
	max-width: 350px;
	height: 200px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.35);
	margin-top: 25px;
	margin-left: 10px;
}

main .container .games .item:hover .description {
	opacity: 1;
}

main .container .games .item .btn.dellGame {
	position: absolute;
	top: 5px;
	right: 90px;
	font-size: 14px;
}

main .container .games .item .btn.editGame {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 14px;
}

main .container .games .item img {
	width: 350px;
	height: 200px;
}

main .container .games .item .description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: 1s all;
}

main .container .games .item .description p {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.6);
}

main .container .games .plusGame {
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 110px;
	line-height: 1.6;
	background: lightgray;
	color: gray;
	box-shadow: 0 0 4px cornflowerblue;
	cursor: pointer;
	transition: 2s all;
	user-select: none;
	border: none;
}

main .container .games .plusGame:hover {
	color: white;
}

main .info {
	border-top: 2px solid #cac0c0;
	background: #e0dada;
}

main .info .wraper {
	display: flex;
	flex-direction: row;
	max-width: 68em;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	main .info .wraper {
		flex-direction: column;
	}
}

main .info .wraper .news {
	max-width: 35.7em;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 10px;
}

main .info .wraper .news .item {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	background: #e7e1e1;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 15px 10px;
	box-sizing: border-box;
	margin-top: 10px;
	transition: 0.5s all;
}

main .info .wraper .news .item:hover {
	cursor: pointer;
	transform: translateY(-2px);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

main .info .wraper .news .item img {
	width: 70px;
	height: 55px;
	object-fit: cover;
}

main .info .wraper .news .item .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	max-width: 400px;
}

main .info .wraper .news .item .content .header {
	position: relative;
}

main .info .wraper .news .item .content .date {
	font-size: 11px;
	color: #8c7070;
}

main .info .wraper .news .newsbtn {
	margin-top: 10px;
}

main .info .wraper .news .plusNew {
	margin-left: 12px;
	font-size: 40px;
	text-align: center;
	height: 48px;
	line-height: 1.1;
	width: 50px;
	background: lightgray;
	color: gray;
	box-shadow: 0 0 4px cornflowerblue;
	cursor: pointer;
	transition: 2s all;
	user-select: none;
	vertical-align: top;
	display: block;
	margin-top: 10px;
}

main .info .wraper .news .plusNew:hover {
	color: white;
}

main .info .wraper .right {
	max-width: 34em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .info .wraper .right b {
	display: block;
	width: 400px;
	text-align: center;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.6);
}

main .info .wraper .right iframe {
	border: 3px solid #ae9e9e;
	margin-top: 25px;
}

footer {
	background: #181716;
	padding: 10px;
	padding-bottom: 60px;
	border-top: 2px solid #46423e;
}

footer .wraper {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: auto;
}

footer .wraper .container {
	display: flex;
	flex-direction: row;
}

footer .wraper .container .menu a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 22px;
	margin-left: 10px;
	border-bottom: 1px solid transparent;
	transition: all 1s;
}

footer .wraper .container .menu a:hover {
	border-bottom: 1px solid black;
}

footer .wraper .container .net {
	margin-left: 50px;
}

footer .wraper .container .net .items {
	font-size: 20px;
	padding-top: 5px;
}

footer .wraper .container .net .items a {
	margin-top: 20px;
	margin-left: 20px;
}

footer .wraper .container .net .items a img {
	height: 20px;
}

footer .wraper .tag {
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 20px;
}

.hide {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 0px;
	display: none;
}

.hide .wraper {
	width: 68em;
	margin: auto;
	background: rgba(255, 255, 255, 0.6);
}

.hide .wraper .container {
	position: fixed;
	margin-top: 20px;
	width: 68em;
	height: 670px;
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
}

.hide .wraper .container .header {
	width: 100%;
	background: #2c1515;
	padding: 10px 5px;
	box-sizing: border-box;
}

.hide .wraper .container .header .nav {
	box-sizing: border-box;
}

.hide .wraper .container .header .nav a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.hide .wraper .container .header .nav .exit {
	color: tomato;
	float: right;
	margin-right: 20px;
}

.hide .wraper .container .item {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.hide .wraper .container .item .hidenFile {
	display: none;
}

.hide .wraper .container .item textarea {
	width: 100%;
	height: 250px;
	resize: none;
}

.hide .wraper .container .item .adm {
	width: 250px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

.hide .wraper .container #new {
	display: none;
}

.hide .wraper .container #new #newsLowContent {
	width: 100%;
	box-sizing: border-box;
	height: 170px;
	resize: none;
	margin-top: 10px;
}

.hide .wraper .container #new #newsUpdate {
	display: none;
}

.login {
	display: inline-block;
	width: 100vw;
	height: 100vh;
	background: white;
}

.login .wraper {
	width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	background: #f5f5f5;
}

.login .wraper .form {
	display: flex;
	flex-direction: column;
}

.login .wraper .form input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.login .wraper .form input:nth-child(2n) {
	margin-top: 10px;
}

.login .wraper #log {
	width: 75px;
	text-align: center;
	margin-top: 10px;
}

.news {
	margin: auto;
	padding-bottom: 20px;
}

.news .item {
	max-width: 900px;
	margin: auto;
	display: flex;
	background: white;
	flex-direction: column;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.35);
	margin-top: 20px;
	align-items: left;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	.news .item {
		align-items: center;
	}
}

.news .item .header {
	position: relative;
}

.news .item .header .content {
	font-size: 33px;
}

.news .item .header .time {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}

.news .item .header .edit {
	position: absolute;
	right: 20px;
	font-size: 12px;
	top: 5px;
	cursor: pointer;
}

.news .item .header .del {
	position: absolute;
	right: 100px;
	font-size: 12px;
	top: 5px;
	cursor: pointer;
}

.news .item .wraper {
	display: flex;
	flex-direction: row;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	.news .item .wraper {
		flex-direction: column;
		align-items: center;
	}
}

.news .item .wraper .content {
	word-wrap: break-word;
	max-width: 550px;
	padding-right: 10px;
	box-sizing: border-box;
}

.news .item .wraper img {
	max-width: 350px;
	height: 200px;
	object-fit: cover;
}

.news .item .more {
	display: inline-block;
	text-decoration: none;
	width: 200px;
}

@media (min-height: 680px), screen and (orientation: portrait) {
	.news .item .more {
		margin-top: 10px;
	}
}

.news .current {
	width: inherit;
	margin: inherit;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.news .current .page {
	margin-left: 5px;
	padding: 5px;
	transition: 0.5s all;
	background: black;
	color: white;
	cursor: pointer;
}

.news .current .page:hover {
	background: #35c0c7;
}

.tidings {
	max-width: 800px;
	display: flex;
	margin: auto;
	flex-direction: column;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.tidings .header {
	position: relative;
}

.tidings .header .title {
	font-size: 25px;
	color: black;
}

.tidings .header .date {
	font-size: 13px;
	color: #8c7070;
	padding: 5px;
}

.tidings .header .edit {
	position: absolute;
	right: 20px;
	font-size: 12px;
	top: 5px;
	cursor: pointer;
}

.tidings .header .del {
	position: absolute;
	right: 100px;
	font-size: 12px;
	top: 5px;
	cursor: pointer;
}

.tidings .content {
	margin-top: 10px;
	text-align: justify;
	color: rgba(0, 0, 0, 0.7);
}

.tidings img {
	margin-top: 20px;
	width: 100%;
}

.tidings iframe {
	margin-top: 20px;
	width: 100%;
	min-height: 450px;
}

.about {
	max-width: 800px;
	display: flex;
	margin: auto;
	flex-direction: column;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.about .header {
	position: relative;
}

.about .header .title {
	font-size: 25px;
	color: black;
	text-align: center;
}

.about .content {
	margin-top: 10px;
	text-align: justify;
	color: rgba(0, 0, 0, 0.7);
}

.about .form {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about .form .title {
	text-align: center;
}

.about .form input, .about .form textarea {
	padding-left: 10px;
	max-width: 350px;
	width: 100%;
	margin-top: 10px;
}

.about .form textarea {
	height: 200px;
	resize: none;
}
