<footer>
    <div class="wraper">
        <div class="container">
            <nav class="menu">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/forum">Forum</a>
                <a href="/about">About</a>
            </nav>
            <div class="net">
                <div class="items">
                    <a href="https://vk.com/feelthesnow"><img src="/image/vk.png" alt=""></a>
                    <a href="https://www.facebook.com/FeelTheSnow/"><img src="/image/fb.png" alt=""></a>
                    <a href="https://twitter.com/owletplay"><img src="/image/tw.png" alt=""></a>
                    <a href="https://www.youtube.com/channel/UC6Af4iq7WPdJea9AFxPsSZw"><img src="/image/yt.png" alt=""></a>
                    <a href="https://store.steampowered.com/app/538100/Feel_The_Snow/"><img src="/image/steam.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="tag">Owlet 2017-2018</div>
    </div>
</footer>