<header>
    <section class="headerContainer">
        <img src="../image/logo.png" alt="" class="logo">
        <div class="wraper">
            <img src="../image/logo2.png" alt="" class="logo2">
            <div class="line"></div>
            <nav class="menu">
                <a href="/">Home</a>
                <a href="/News">News</a>
                <a href="/Forum">Forum</a>
                <a href="/About">About</a>
            </nav>
        </div>
        <%if(role=="admin"){%>
            <div class="btn logOut">Logout</div>
        <%}%>
    </section>
</header>