<header>
    <section class="headerContainer">
        <img src="/image/logo.png" alt="" class="logo">
        <div class="wraper">
            <img src="/image/logo2.png" alt="" class="logo2">
            <div class="line"></div>
            <nav class="menu">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/forum">Forum</a>
                <a href="/about">About</a>
            </nav>
        </div>
            <%if(role=="admin"){%>
                <div class="btn logOut">Logout</div>
            <%}%>
    </section>
</header>