<header>
    <section class="headerContainer">
        <img src="/image/logo.png" alt="" class="logo">
        <div class="wraper">
            <img src="/image/logo2.png" alt="" class="logo2">
            <div class="line"></div>
            <nav class="menu">
                <div class="bayan">
                    <div class="lines"></div>
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="http://dulce-owlet:8000/forum">Forum</a>
                <a href="/about">About</a>
            </nav>
        </div>
            <%if(role=="admin"){%>
                <div class="btn logOut">Logout</div>
            <%}%>
    </section>
</header>