<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('link')%>
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="wraper">
            <div class="form">
                <input type="text" placeholder="Login" id="login">
                <input type="password" placeholder="Password" id="password">
            </div>
            <div class="btn" id="log">Sign in</div>
        </div>
    </section>
</body>
</html>