<section class="hide">
    <div class="wraper">
        <div class="container">
            <div class="header">
                <div class="nav">
                    <a href="#" id="addGame">AddGame</a>
                    <a href="#" id="addNew">AddNew</a>
                    <a href="#" id="gameList">GameList</a>
                    <a href="#" id="newList">NewList</a>
                    <a class="exit" href="#">Exit</a>
                </div>
            </div>
            <div class="item" id="game">
                <textarea class="descr" id="gameDescr" placeholder="Game Description"></textarea>
                <input id="linkStore" type = "text" placeholder="Store Link">
                <input type="file" class="hidenFile" id="gameFile">
                <div class="btn adm" id="gameUploadImg">Upload</div>
                <div class="btn adm" id="gameAdd">Add</div>
                <div class="btn adm" id="gameUpdate"  data-id="">Update</div>
            </div>

            <div class="item" id="new">
                <input type="text" placeholder="Title" id="newsTitle">
                <textarea class="editor" id="newsContent"></textarea>
                <textarea id="newsLowContent" placeholder="Low description"></textarea>
                <input type="file" class="hidenFile" id="newsFile">
                <div class="btn adm" id="newsUploadImg">Upload</div>
                <div class="btn adm" id="newsAdd">Add</div>
                <div class="btn adm" id="newsUpdate" data-id="">Update</div>
            </div>
        </div>
     </div>
</section>